@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700&display=swap');
@import './_variables.scss';

html {
  font-size: 8px;
  box-sizing: border-box;
  font-family: $fontPrimary;
  background: $colorLight;
  color: $colorLight;
  -webkit-tap-highlight-color: rgba(#000, 0);
}

*,
*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
  line-height: 1.5em;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
